@import './colors.scss';
@import './fonts.scss';
@import './sizes.scss';

button {
  padding: $margin-input 10px;
  cursor: pointer;
  border: none;
  border-radius: $margin-input;
  margin: $margin-input;
  font-family: $words;
  color: $text-color;
}

.edit-btn {
  box-shadow: 0 5px 15px 0 $edit-button;
}

.delete-btn {
  box-shadow: 0 5px 15px 0 $delete-button;
}

.add-btn {
  background-color: $show-translation-btn;
  color: #fff;
}

.save-btn {
  box-shadow: 0 5px 15px 0 $save-button;
}

.cancel-btn {
  box-shadow: 0 5px 15px 0 $cancel-button;
}
