$delete-button: rgba(231, 60, 60, 0.801);
$edit-button: rgba(58, 171, 246, 0.913);
$add-button: #ffdb58;
$save-button: rgb(6, 169, 6);
$cancel-button: rgb(245, 56, 56);

$text-color: #414040;

$word-table-color: #f2f2f2;

$word-table-background: #d8d8d8;
$even-child-background: #f3f3f3;

$card-background: #e5e4e4;
$show-translation-btn: rgb(105, 216, 188);
$show-translation-btn-hover: rgb(73, 150, 130);
