$h-size: 24px; //для заголовка h1 и h2

$margin-top: 20px; //для margin-top и margin у App

$width: 100%; //ширина таблицы

$border: 1px; //граница таблицы

$margin-input: 5px; //margin для поля input
$padding-input: 5px; //padding для поля input

$padding-table: 8px; //padding для таблицы

$padding-button: 10px; //еще один padding для кнопки
